@import url(http://fonts.googleapis.com/css?family=Pacifico);
@font-face {
 
  font-family: 'Pacifico';
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Pacifico");
}
.jumbotron h1 {
color: #999999;
                    font-family: 'Pacifico';
                    src: url('https://fonts.googleapis.com/css?family=Pacifico');
                    font-size: 45px;
                    font-weight: bold;
                    margin-top: 0px;
                    margin-bottom: 1px;
                    text-align: center;
                  }
                   
.jSlots-wrapper {  
    overflow: hidden; /* to hide the magic */  
    height: 20px; /* whatever the height of your list items are */  
    display: inline-block; /* to size width correctly, can use float too, or width*/  
    border: 1px solid #999;  
}  
.jumbotron p {
  text-align: center;
}
span{
  position:relative;
  margin-right:-20px
}
input[type='number']{
  padding-left:20px;
  text-align:center;
}
@import url('https://fonts.googleapis.com/css?family=Pacifico');
table, tbody {
  background-color: #0066CC;
}

table, tr, th {
  text-align:center;
  font-family: 'Pacifico';
  font-style:cursive;
  src: url('https://fonts.googleapis.com/css?family=Pacifico');
  color: #FF0066;
  background-color: #FFCCFF;
  font-style: italic;
  

}
.table-repsonsive {
text-align: center;
padding: 55px;
margin: 100px;
height: 25%;
width: 50%;
}

table, tr, td {
  font-family: 'Pacifico';
  
  src: url('https://fonts.googleapis.com/css?family=Pacifico');
  text-align-color: #CCFF66;
  text-align: center;
  font-style: italic;
  color:#0066CC;
  background-color: #0066CC;
  font-style: italic;
  font-size: 20px;
}

tr, td {
  border: solid 1px #6666CC;
}

 th {
  text-transform: center;
  font-size: 20px;
  color:  #FF0066;
  font-style: italic;
  text-align: center;
  position: relative;
  border: solid 2px #FF0066;
}

 thead, caption {
  position: center;
  text-align: center;
  background-color: #CCCCFF;
  color: #000033;
  border: solid 3px #003399;
  font-size: 25px;

}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


